{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>Salut le monde !!!</h1>
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <i class="fa fa-envelope"></i>
  </span>
  <input class="form-control" type="text" placeholder="Email address">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <i class="fa fa-lock"></i>
  </span>
  <input class="form-control" type="password" placeholder="Password">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <i style="height: 150px" class="fa fa-search"></i>
  </span>
  <input class="form-control" type="search" placeholder="search">
</div>
  
<div id="map"></div>
    
{% endblock %}
