{% extends 'base_admin.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center"><mark>Les utilisateurs</mark></h1> 
    <a href="{{ path('home') }}" class="btn btn-info">Retour au menu principale</a> 
</div>
    {%for user in users %}   
        <ul>
            <li>
                <h2>{{ user.username }}</h2>
                <h3>{{user.email}}</h3>
                {% if user.username == 'marcel' %}
                    <p>Role admin</p>
                {% else %}
                    <p>Role user</p>
                {% endif %}
            </li>
        </ul>
    <hr>
    {% endfor%}
   
{% endblock %}